$primary-orange: #f26427;
$grey-98: #fafafa;
$text-color: #f8f7f7;

$medium-breakpoint: 767px;
$large-breakpoint: 992px;

//mixin
@mixin medium-breakpoint {
  @media only screen and (max-width: $medium-breakpoint) {
    @content;
  }
}

@mixin large-breakpoint {
  @media only screen and (max-width: $large-breakpoint) {
    @content;
  }
}

.headliners-block--header {
  height: 530px;
  padding: 85px 180px 305px 180px;
  background-color: $primary-orange;

  @include medium-breakpoint {
    height: 474px;
    padding: 60px 16px 205px 16px;
  }

  .main-heading {
    text-align: right;
    font-size: 99px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.91;
    letter-spacing: 1.98px;
    color: $text-color;

    @include medium-breakpoint {
      font-size: 45px;
      text-align: left;
      line-height: 1;
      letter-spacing: 0.9px;
    }
  }

  .main-description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: 0.18px;
    text-align: justify;
    color: $grey-98;
    margin-bottom: 0;

    @include medium-breakpoint {
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: 0.16px;
      text-align: left;
    }
  }
}

.headliners-block--body {
  max-width: 1200px;
  padding: 0px;

  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);

  @include large-breakpoint {
    top: 304px;
    padding: 16px;
  }

  .artist-column,
  .artist-column--row {
    height: inherit;
  }

  .artist-column {
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    &.view-more {
      background-color: $primary-orange;
      padding: 40px 20px 40px 20px;

      .view-more-text {
        color: $grey-98;
        text-transform: uppercase;
      }

      .view-more-link {
        color: $grey-98;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .category {
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $grey-98;
    padding: 0 16px;
    text-align: center;

    &.type {
      background-color: $primary-orange;
      max-width: 200px;
      width: 100%;
    }

    &.view-more-category {
      background-color: $text-color;
      color: $primary-orange;
      max-width: 140px;
      width: 100%;
    }
  }

  .details {
    position: absolute;
    bottom: 0;
    left: 6.667%;

    .artist-name,
    .event-date {
      color: $grey-98;
    }
  }

  .headliners-artist-row--one {
    height: 600px;

    @include medium-breakpoint {
      height: auto;
    }

    .artist-column--row {
      .artist-column {
        &:first-child {
          height: 60%;

          @include medium-breakpoint {
            height: auto;
          }
        }

        &:last-child {
          height: 40%;

          @include medium-breakpoint {
            height: auto;
          }
        }
      }
    }
  }

  .headliners-artist-row--two {
    height: 250px;

    @include medium-breakpoint {
      height: auto;
    }
  }
}