//variables 

$festival-heading-color: #008caa;
$festival-heading-font-family: TypoldExtended;

$festival-description-color: #504b47;
$festival-description-font-family: Typold;

$white: #ffffff;
$medium-breakpoint: 767px;

//mixin
@mixin medium-breakpoint {
  @media only screen and (max-width: $medium-breakpoint) {
    @content;
  }
}


.timeline-component {
  @include medium-breakpoint {
    padding: 0;
  }

  .festival-block {
    @include medium-breakpoint {
      margin-top: 50px;
    }

    .column-seperator-line {
      .border-line {
        border-right: 2px solid $festival-heading-color;
      }

      &::after {
        position: absolute;
        content: "";
        background-image: url(../assets/timeline-pointer.svg);
        bottom: 30%;
        height: 51px;
        width: 55px;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .column-seperator-line::after {
        transform: rotateY(180deg);
      }
    }

    .festival-block--textContent {
      @include medium-breakpoint {
        padding-left: 32px;
        padding-right: 32px;
      }

      .festival-description--heading {
        text-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
        font-family: $festival-heading-font-family;
        font-size: 36px;
        letter-spacing: 0.72px;
        text-align: left;
        color: $festival-heading-color;

        @include medium-breakpoint {
          max-width: 195px;
          width: 100%;
          line-height: 1;
        }
      }

      .festival-description--text {
        font-family: $festival-description-font-family;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.18px;
        text-align: left;
        color: $festival-description-color;

        @include medium-breakpoint {
          font-size: 16px;
          line-height: 1.63;
          letter-spacing: 0.16px;
        }
      }
    }

    .festival-block--imgContent {
      .festival-gallery {
        .image-container {
          padding: 0 6px 6px 0;

          &:nth-child(2n) {
            @include medium-breakpoint {
              padding-right: 0;
            }
          }

          img {
            max-width: 100%;
            height: 100%;
            width: 100%;
          }

          &:nth-child(n+5) {
            @include medium-breakpoint {
              display: none;
            }
          }

          .fa-instagram {
            position: absolute;
            bottom: 14px;
            left: 12px;
            font-size: 24px;
            color: $white;
          }
        }
      }
    }
  }
}

.row-seperator-line {
  height: 64px;

  @include medium-breakpoint {
    display: none;
  }

  .border-line {
    border-right: 2px solid $festival-heading-color;
  }
}

.button-container {
  @include medium-breakpoint {
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .load-years--button {
    max-width: 320px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: transparent;
    color: $festival-heading-color;
    border: solid 2px $festival-heading-color;
  }
}